


<div id="Download_Notification_Modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">History For - <span id="CurrentFileHistoryFileName"></span></h4>
            </div>
            <div class="modal-body">
                <p>You Are about to download <u><b><span id="FileNameToReplace"></span></b></u>.</p>
                <p>NB! A notification will be sent to all users that this file is shared with. </p>
                <P>Once the file has been downloaded please NOTE, the file will be locked for all users untill the new version of this file is uploaded by you.  </P>
                <p>
                    <b>
                        Click download to proceed <b>
                            <a href="#" class="btn btn-warning" onclick="DownloadFile()">
                                Download
                            </a> Else Click Close to cancel.
                        @*  *@

                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
